.thing {
	margin-bottom: 1em;
}

.thing-image {
	float: left;
}

.thing-image a {
	display: block;
	border: none;
	padding: 0px;
	margin: 0px;
}

.thing-image img {
	border: none;
	margin: 0px;
	padding: 0px;
	width: 150px;
	height: 150px;
	display: inherit; /* some weird bug in ff */
}

.thing-detail {
	margin-left: 165px;
}

.thing-header {
	margin-bottom: 10px;
}

.thing-footer {	
	padding: 12px 0;
}


/* event */
.event {
	margin-bottom: 1em;
	position: relative;
}

.event-image {
	float: left;
}

.event-image a {
	display: block;
	border: 0px;
	padding: 0px;
	margin: 0px;
}

.event-image img {
	border: none;
	margin: 0px;
	padding: 0px;
	width: 150px;
	height: 150px;
	display: inherit; /* some weird bug in ff */
}

.event-detail {
	margin-left: 165px;
}

.event-header {
	margin-bottom: 10px;
}

.event-header h3 {
	margin-bottom: 4px;
}

.event-date {
	font-style: italic;
}

.event-footer {	
	padding: 12px 0;
}

a.ical {
	padding: 10px;
	float: right;
}

.event-social {
	color: red;
}

#event a.ical {
	padding: 2px;
}

#events {
	margin-bottom: 2em;
}

#events .event-description {
	margin-right: 10px;
	max-height: 3em;
	overflow: hidden;
}

#events p:last-child {
	margin: 0px;
}

#events .event-footer {
	position: absolute;
	bottom: 0px;
}

.events-list {
	margin-bottom: 2em;
}

.events-list .event:last-child {
	margin-bottom: 0px;
}

#archives ul {
    float: left;
    width: 30%;
}

#archives ul:nth-of-type(3n + 1) {
	clear: left;
}

.ui-datepicker-calendar {
	margin: auto;
	width: 100%;
}

.ui-datepicker-calendar th {
	padding: 6px 12px;
}

.ui-datepicker-calendar td {
	padding: 0px;
}

.ui-datepicker-header { position: relative; padding: 6px 0; }
.ui-datepicker-prev, 
.ui-datepicker-next { 
	position: absolute; 
	text-decoration: underline; 
	cursor: pointer;
}

.ui-datepicker-prev { left: 0px; }
.ui-datepicker-next { right: 0px; }
.ui-datepicker-prev span, 
.ui-datepicker-next span { }
.ui-datepicker-title { text-align: center; }

.ui-datepicker td span, 
.ui-datepicker td a { 
	display: block; 
	text-align: right; 
	text-decoration: none; 
	padding: 6px 12px;
}

.ui-datepicker td span {
	font-size: small;
}

.ui-datepicker td a {
	font-weight: bold;
}

#refinery-calendar-holder {
	min-height: 300px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

#refinery-calendar-dialog {
	padding-top: 1em;
}

#refinery-calendar-holder.load {
	background-image: url(/assets/refinery/ajax-loader.gif);
}

#refinery-calendar-holder.error {
	background-image: url(/assets/icons/application_error.png);
}

.calendar-icon {
	padding-left: 22px;
	background-repeat: no-repeat;
	background-position: top left;
}

.calendar-feed-icon {
	background-image: url(/assets/icons/feed.png);
}

.calendar-ical-icon {
	background-image: url(/assets/icons/date.png);
}

.share-btn {
    margin-right: 10px;
    display: inline-block;
    vertical-align: top;
    min-width: 40px;
    min-height: 30px;
    overflow-x: hidden;
    max-width: 90px;
}


#event #prevnext_nav {
    clear: both;
    display: block;
    margin-bottom: 2em;
    text-align: center;
}

#event .button {
	display: inline-block;
	padding: 5px 10px 6px;
}

#event #prevnext_nav .prev {
    float: left;
}

#event #prevnext_nav .next {
    float: right;
}

#event #prevnext_nav .third {
    width: 40%;
}
