.thing {
	margin-bottom: 1.5em;
	position: relative;
}

.thing-image {
	float: left;
}

.thing-image a {
	display: block;
	border: none;
	padding: 0px;
	margin: 0px;
}

.thing-image img {
	border: none;
	margin: 0px;
	padding: 0px;
	width: 150px;
	height: 150px;
	display: inherit; /* some weird bug in ff */
}

.thing-header h3, .thing-header h2 {
	padding-top: 0;
	font-size: 115%;
	margin-bottom: 4px;
}

.thing-header h3 a {
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.thing-detail {
	margin-left: 165px;
    min-height: 120px;
    padding-bottom: 30px;
}

.thing-header {
	margin-bottom: 10px;
}

.thing-footer { }

.thing-categories {
	margin-bottom: 2em;
}

.thing-date {
	font-style: italic;
}

.thing-description img {
	max-width: 100%;
}

/* event */

a.ical {
	padding: 2px;
	float: right;
}

#events {
	margin-bottom: 2em;
}

#events .thing-description {
	margin-right: 10px;
}

#events .thing-footer {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 22px;
}

#events p:last-child {
	margin: 0px;
}

.events-list {
	margin-bottom: 2em;
}

.events-list .event:last-child {
	margin-bottom: 0px;
}

#events .event-social {
	margin-left: 165px; float: left;
}

#events .location {
	float: right;
}

#archives ul {
    float: left;
    width: 30%;
}

#archives ul:nth-of-type(3n + 1) {
	clear: left;
}

#refinery-calendar-holder {
	min-height: 300px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

#refinery-calendar-dialog {
	padding-top: 1em;
}

#refinery-calendar-holder.load {
	background-image: url(/assets/refinery/ajax-loader.gif);
}

#refinery-calendar-holder.error {
	background-image: url(/assets/icons/application_error.png);
}

.calendar-icon {
	padding-left: 22px;
	background-repeat: no-repeat;
	background-position: top left;
}

.calendar-feed-icon {
	background-image: url(/assets/icons/feed.png);
}

.calendar-ical-icon {
	background-image: url(/assets/icons/date.png);
}

.calendar-gcal-icon {
	background-image: url(/assets/icons/google-calendar.png);
}

.calendar-facebook-icon {
	background-image: url(/assets/icons/facebook_16.png);
}

.calendar-twitter-icon {
	background-image: url(/assets/icons/twitter-bird-light-bgs_16.png);
}

.calendar-mailinglist-icon {
	background-image: url(/assets/icons/email.png);
}

.ui-icon {
	/* background-image: url("ui-icons_cccccc_256x240.png"); */
    display: block;
    overflow: hidden;
    text-indent: -999em;
    height: 16px;
    width: 16px;
}

.ui-icon-circle-triangle-w {
    background-position: -80px -192px;
}

.ui-icon-circle-triangle-e {
    background-position: -48px -192px;
}

.share-btn {
    margin-right: 10px;
    display: inline-block;
    vertical-align: top;
    min-width: 40px;
    min-height: 30px;
    overflow-x: hidden;
    max-width: 90px;
}

#event .button {
	display: inline-block;
	padding: 5px 10px 6px;
}

#event #prevnext_nav {
    clear: both;
    display: block;
    margin-bottom: 2em;
    text-align: center;
}

#event #prevnext_nav .prev {
    float: left;
}

#event #prevnext_nav .next {
    float: right;
}

#event #prevnext_nav .third {
    width: 40%;
}

.ui-datepicker-calendar {
	margin: auto;
	width: 100%;
}

.ui-datepicker-calendar th {
	padding: 6px 12px;
}

.ui-datepicker-calendar td {
	padding: 0px;
}

.ui-datepicker-header { position: relative; padding: 6px 0; }
.ui-datepicker-prev, 
.ui-datepicker-next { 
	position: absolute; 
	text-decoration: underline; 
	cursor: pointer;
}

.ui-datepicker-prev { left: 0px; }
.ui-datepicker-next { right: 0px; }
.ui-datepicker-prev span, 
.ui-datepicker-next span { }
.ui-datepicker-title { text-align: center; }

.ui-datepicker td span, 
.ui-datepicker td a { 
	display: block; 
	text-align: right; 
	text-decoration: none; 
	padding: 6px 12px;
}

.ui-datepicker td span {
	font-size: small;
}

.ui-datepicker td a {
	font-weight: bold;
}

/* place */

.place-embed-map iframe {
	border: none;
	width: 100%;
	height: 400px;
	margin: 0px;
}