.event {
	margin-bottom: 1em;
	position: relative;
}

.event-image {
	float: left;
}

.event-image a {
	display: block;
	border: 0px;
	padding: 0px;
	margin: 0px;
}

.event-image img {
	border: none;
	margin: 0px;
	padding: 0px;
	width: 150px;
	height: 150px;
	display: inherit; /* some weird bug in ff */
}

.event-detail {
	margin-left: 165px;
}

.event-header {
	margin-bottom: 10px;
}

.event-header h3 {
	margin-bottom: 4px;
}

.event-date {
	font-style: italic;
}

.event-footer {	
	padding: 12px 0;
}

a.ical {
	padding: 10px;
	float: right;
}

.event-social {
	color: red;
}

#event a.ical {
	padding: 2px;
}

#events .event {
	background: inherit; /* todo */
}

#events .featured {
	background: inherit; /* todo */
}

#events .event-description {
	margin-right: 10px;
	max-height: 3em;
	overflow: hidden;
}

#events p:last-child {
	margin: 0px;
}

#events .event-footer {
	position: absolute;
	bottom: 0px;
}