<% if @categories.any? %>
  <aside class="sidebar_module categories">
    <h2><%= t('.categories') %></h2>
    <ul>
      <% @categories.each do |category| -%>
        <li><%= link_to category.name, refinery.calendar_category_path(category) %></li>
      <% end -%>
    </ul>
  </aside><!-- categories -->
<% end %>