<aside class="sidebar_module subscribe">
	<h2><%= t('.subscribe') %></h2>
	<p>
		<a href="<%= refinery.calendar_root_url(:format => :rss) %>">RSS</a>
	</p>
	<p>
		<a href="<%= refinery.calendar_root_url(:format => :ics) %>">ICAL</a>
	</p>
</aside><!-- subscribe -->